ul {
    margin: 0;
    padding: 0 0 56px 0;
    list-style: none;
  }
 .container_todo{
  width: 50%;
  margin: auto;
 } 

 .text__todo{
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 48px;
 }

 @media (max-width: 800px) {
  .container_todo{
    width: 100%;
   } 
}